<h1>
  Tenemos un nuevo contacto a través de la página web!
</h1>

<p><%= @contact.name %></p>
<p><%= @contact.email %></p>
<p><%= @contact.content %></p>
<p><%= @contact.number %></p>

<h3>No nos olvidemos de responder :)</h3>
