<h1>Tamos ACTivaosss</h1>

<p>
  Hola <%= @contact.name %>, gracias por contactarnos a través de nuestra página web.
</p>

<p>
  Nos dejaste este mensaje:
</p>

<span>"<%= @contact.content %>"</span>

<p>
  ¡Pronto estaremos en contacto contigo!
</p>
