// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.banner h1 {
  margin: 0;
  color: black;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

hr {
  width: 200px;
  background-color: black;
  border: 1px solid black;
}

h4 {
  text-align: center;
}
 .definition {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.def-container {
  width: 90%;
  margin: 0 auto;
}

.dictionary h2 {
  padding-top: 50px;
  padding-left: 40px;
}

.dictionary #noun {
  position: absolute;
  top: 63px;
  left: 160px;
}

.dictionary p {
  padding-top: 16px;
  padding-left: 40px;
}

.dictionary ol {
  padding-top: 16px;
  padding-left: 50px;
}

.dictionary li {
  padding-bottom: 8px;
}

 .explain {
  font-size: 16px;
}

 .explain h6 {
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 16px;
  font-weight: bold;
}

 .explain p {
  color: $ACTAorange;
  font-weight: bold;
  padding-right: 16px;
}

.pilares {
  color: white;
  background-color: $ACTAblue;
  text-align: center;
  padding: 100px 0;
} i {
  font-size: 96px;
  padding-top: 16px;
  padding-bottom: 8px;
}

.donations {
  background-color: white;
  text-align: center;
  padding: 100px 0;
} h4 {
  color: $ACTAorange;
} h5 {
  color: $ACTAorange;
}

.btn-warning {
  background-color: $ACTAorange;
}

.library {
  color: white;
  background-color: $ACTAblue;
  text-align: center;
  padding: 100px 0;
}

.voluntarios {
  background-color: white;
  padding: 100px 0;
} h5 {
  text-align: center;
}

.voluntarios h2 {
  text-align: center;
}
