<footer class="footer">
  <div class="container">
    <span>Contáctanos</span>
    <br>
    <span>info@actapanama.org</span>
    <br>
    <span>Redes</span>
    <br>
    <span>309-8968</span>
    <br>
  </div>
</footer>

 <style>
  footer{
    flex-grow: 0;
  }
  .footer {
    background-image: linear-gradient(
    to bottom,
    rgba(224, 135, 61, 1),
    rgba(210, 70, 64, 1)
    );
  }
 </style>
