<div class="footer">
  <span>Contáctanos</span>
  <br>
  <span>info@actapanama.org</span>
  <br>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <br>
  <span>309-8968</span>
</div>


<!-- <footer class="footer">
  <div class="container">
    <span>Contáctanos</span>
    <br>
    <span>info@actapanama.org</span>
    <br>
    <span>Redes</span>
    <br>
    <span>309-8968</span>
    <br>
  </div>
</footer> -->
