<div class="banner" style="background-color: white;">
  <div class="container">
    <h1><em>"Nunca dudes que un pequeño grupo de ciudadanos considerados pueda cambiar el mundo. <br><br> Verdaderamente, es lo único que lo ha hecho"</em></h1>
    <br>
    <hr>
    <br>
    <h4>Margaret Mead</h4>
    <br>
  </div>
</div>

<div class="definition" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1591186538033-78350ccc850f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80);">
  <div class="def-container" style="background-color: rgba(255, 255, 255, .8);">

    <div class="row">

      <div class="col-7">
        <div class="dictionary">
          <h2>ACTA</h2><span id="noun">Noun</span>
          <p>AC . TA</p>
          <ol>
            <li>Action - Tank, o “incubadora de acción”</li>
            <li>La primera Zona de Innovación Sostenible en Panamá.</li>
          </ol>
        </div>
      </div>
      <div class="col-5">
        <div class="explain">
          <br>
          <h6>En ACTA queremos que Panamá sea una ciudad sostenible. Para lograr eso buscamos:</h6>
          <p>Potenciar acción ciudadana y alinear actores</p>
          <p>Promover el uso equitativo de recursos sociales, culturales y ambientales</p>
          <p>Influenciar modelos de negocio y políticas públicas</p>

        </div>
      </div>

    </div>

  </div>
</div>

<div class="pilares">
  <h2>Pilares</h2>
  <p>ACTA ejecuta proyectos y educación bajo estos cuatro (4) ejes de acción.</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <i class="fas fa-biking"></i>
        <br>
        <span>Infraestructura y Movilidad Urbana</span>

      </div>
      <div class="col-lg-3">
        <i class="fas fa-university"></i>
        <br>
        <span>Institucionalidad</span>
      </div>
      <div class="col-lg-3">
        <i class="fas fa-bolt"></i>
        <br>
        <span>Energía</span>
      </div>
      <div class="col-lg-3">
        <i class="fas fa-tint"></i>
        <br>
        <span>Seguridad de Recursos</span>
      </div>
    </div>
  </div>
</div>

<div class="voluntarios">
  <div class="container">
    <h2>!Participa!</h2>
    <h5>ACTA está constantemente en búsqueda de talento y pasión para llevar a cabo sus objetivos</h5>
    <div class="row" style="padding-top: 16px;">
      <div class="col-lg-6">
        <p>Buscamos:</p>
        <ul>
          <li>Jóvenes Profesionales</li>
          <li>Estudiantes</li>
          <li>Emprendedores</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <form action="">
          <p>¡Únete!</p>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Nombre">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Apellido">
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Correo">
          </div>
          <button class="btn btn-warning">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="library">
  <h2>Empresa Privada - Comunidades - Instituciones Públicas</h2>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h4 style="color: white">Nuestra Biblioteca</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, facere officia nam blanditiis, minima sed unde qui, velit ut tenetur inventore fugit itaque. Pariatur, earum enim harum voluptas. Debitis, eius.</p>
      </div>
      <div class="col-lg-6">
        <h4 style="color: white">TBD</h4>
      </div>
    </div>
  </div>
</div>

<div class="donations">
  <h2>!Apóyanos!</h2>
  <p>Apoyanos con una donación</p>
  <p>O suscribete a nuestras membresías</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>Bronce</h4>
        <p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Eum eos assumenda unde provident sed incidunt, voluptatem fugit veritatis blanditiis aspernatur fugiat sint voluptatibus, corporis? Ipsam, at eaque. Vitae, rem nostrum?</p>
        <h5>Beneficios:</h5>
        <ol>
          <li>Beneficio 1</li>
          <li>Beneficio 2</li>
          <li>Beneficio 3</li>
        </ol>
      </div>
      <div class="col-lg-4">
        <h4>Plata</h4>
        <p>Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Quam reiciendis nemo molestiae harum similique explicabo maiores architecto est, pariatur maxime fuga praesentium quia repellat itaque esse. Velit cum, corporis totam.</p>
        <h5>Beneficios:</h5>
        <ol>
          <li>Beneficio 1</li>
          <li>Beneficio 2</li>
          <li>Beneficio 3</li>
        </ol>
      </div>
      <div class="col-lg-4">
        <h4>Oro</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eius accusantium dolorum praesentium dolore vero, natus nesciunt optio nobis ex consequatur, minus beatae sed pariatur corrupti mollitia quisquam quasi modi!</p>
        <h5>Beneficios:</h5>
        <ol>
          <li>Beneficio 1</li>
          <li>Beneficio 2</li>
          <li>Beneficio 3</li>
        </ol>
      </div>
    </div>
  </div>
</div>


