.footer {
  background-color:$ACTAblue;
  overflow:hidden;
  color:white;
  padding:1em 0 0 0;
  p{
    color:#ccc;
    transition:.2s ease-in-out;
  }
  p:hover{
    color: white;
    padding: 1px;
    border-color:$ACTAorange;
    border-style:solid;
    border-width:0 0 2px 0;
  }
  h1{
    font-weight:bold;
    font-size:2rem;
    margin-bottom:1em;
  }
  hr{
    left:0;
    padding:0;
    border-color:#222f40f2;
    width:100vw;
  }
  ul{
    list-style-type:none;
  }


}

.footer-content{
  width:100%;
  padding:0 3em 0 3em;
  display:grid;
  grid-template-columns:auto auto;
  gap:1em;
  @media screen and(max-width:900px){
    display:inline-block;
  }
}

.footer-register{
  display:grid;
  color:#ccc;
  padding:3em;
  justify-content:center;
  place-items:center;
  grid-gap:30px;
  h1{
    margin-bottom:0;
  }
   #footer-button{
    color:white;
    text-decoration:none;
    border:none;
    height:50px;
    grid-area:2;
    border-radius:25px;
    background-color:$ACTAorange;
    padding:1em;
    margin:0 1em 0 1em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition:transform .1s ease-in-out;
    &:hover{
    transform:scale(1.1);
    filter: saturate(1.3);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
    &:active{
      animation:footer-button-active .2s ease;
      animation-fill-mode: forwards;
    }
  }
}

#footer-register-title{
  transition:color .2s ease-in-out;
}
#footer-button:hover ~ #footer-register-title {
  color:white;
}

.footer-links {
  display:grid;
  width:100%;
  grid-template-columns:1fr 1fr;
  place-items:center;
  margin:0 4em 0 0;
  @media screen and(max-width:900px){
  ul{
    padding:0;
  }
}


  a{
    color:#ccc;
    text-decoration:none;
    transition:.2s ease-in-out;
  }
  a:hover{
    color: white;
    padding: 1px;
    border-color:$ACTAorange;
    border-style:solid;
    border-width:0 0 2px 0;
  }
}

.footer-links i {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 24px;

}

.footer-social{
  display:grid;
  place-items: center;
  img{
    height:75px;
    width:75px;
    padding:1em;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    transition:transform .1s ease-in-out;
  }
  a{
   &:hover{
    transform:scale(1.1);
    img{
      transform:scale(1.1);
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .1));
    }
   }
  }
  ul{
    display:grid;
    place-items: center;
    max-width:500px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    @media screen and(max-width: 500px){
      grid-template-columns:1fr 1fr;
    }
  }
}

.footer-bottom{
  width:100%;
  display:grid;
  color:white;
  background-color:#18212d;
  padding:1em;
  place-items:center;
}

@keyframes footer-button-active{
  to{
    transform: scale(1);
    filter: brightness(1.2);
  }
}
