.navbar-lewagon {
  justify-content: center; //space-between;
  background: white;
  // border-bottom: 1px solid $ACTAblue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 225px;
}

.navbar img {
  width: 80px;
}
